*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background: -webkit-linear-gradient(left, #6c5ce7,#b2bec3,#b2bec3, #6c5ce7);
}
  
.mydiv{
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    transform: translate(126% , 15%);
    position: relative;
}

.heading{
    display: flex;
    width: 200%;
}

h1{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: capitalize;
}

span{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 60px;
}

.image{
    padding: 15px;
    width: 330px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.5);
    background-color: lightgrey;
    margin-bottom: 30px;
}

img{
    width: 100%;
}

.hidden{
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.square{
    width: 20%;
    outline: none;
    padding-left: 15px;
    border-radius: 15px;
    border: 2px solid lightgrey;
    font-size: 20px;
    transition: all 0.3s ease;
    color: #6c5ce7;
}

.inputs{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.timer{
    font-size: 50px;
    border: 5px solid #b2bec3;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    font-family: Monoton;
    justify-content: center;
    align-items: center;
    color: #1e272e;
    transform: translate(115% , -100%);
    position: absolute;
    background-color: #fff;
    text-align: center;
}

.r{
    font-size: 30px;
}

button{
    transform: translateX(5%);
    width: 300px;
    height: 50px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border: 3px solid #b2bec3;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #6c5ce7;
    margin-top: 20px;
    transition: all ease 2s;
}

button:hover{
    border: #1e272e solid 3px;
    cursor: pointer;
}

.btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}